.jumbotron {
  background-image: url("../assets/FAVPNG_burger-cartoon_kKsbR5dH.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color:rgb(0, 97, 140);
  color: #ffffff;
  margin-top: 3%;
}
#newburger {
  color: #5c5c5c;
}
#leftside {
  background-color: rgb(220, 54, 69);
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: rgb(220, 54, 69);
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#devoured {
  opacity: 50%;
}